<?xml version="1.0"?>
<launch>
     <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" pass_all_args="true"/>
    <!-- <node name="raw_force" pkg="forceSRI" type="sri_sensor.py" respawn="false" output="screen"/> -->
    <node name="serial_node" pkg="rosserial_arduino" type="serial_node.py" output="screen" args="/dev/ttyACM0"/>
    <!--force sensor -->
    <node name="joycontrol" pkg="ultrasound" type="joycontrol" respawn="false" output="screen"/>

    <!--UR Driver  -->
   

</launch>
